@font-face {
            font-family: 'AT Apoc Revelations';
            src: url('font/AT Apoc Revelations.otf') format('opentype');
            /* You might also need additional font formats like woff, woff2 for better compatibility */
        }

body {
            font-family: 'AT Apoc Revelations', sans-serif;
    overflow-x: hidden;
}

.title {
    font-size: 7vh;
    color: white;
}
a{
    color: white;
    padding: 0px!important;
}

a:hover{
    color: white;
}

.subtitle {
    font-size: 2.5vh;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: white;
    line-height: normal;
}

header{
    height: 100vh !important;
}

.scrollbutton {
    position: absolute;
    bottom: 10vh;
    left: 35vw;
    color: white
}

.scrollbuttonup {

    color: white
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.box-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the section height to the viewport height */
}

.box {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-size: 4vh;
  padding: 20%;
  height: 33vh;
}

/* Define different background images for each box */
.one{
  background-image: url("../assets/img/test-01.jpeg");
  
}

.two{
  background-image: url('../assets/img/test-01.jpeg');
}

.three{
  background-image: url('../assets/img/test-01.jpeg');
}

.carousel-container {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
}

.img-item {
  width: 100%;
  min-width: 100%;
  scroll-snap-align: start;
}



/* Adjust layout for mobile devices */
@media (max-width: 767px) {
  .box-section {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  .box {
    margin-bottom: 0px;
  }
    
    .fastlink {
    height: 100vh;
    }
}
