@font-face {
            font-family: 'AT Apoc Revelations';
            src: url('font/AT Apoc Revelations.otf') format('opentype');
            /* You might also need additional font formats like woff, woff2 for better compatibility */
        }

body {
            font-family: 'AT Apoc Revelations', sans-serif;
}

.title {
    font-size: 7vh;
    color: white;
}

.subtitle {
    font-size: 2.5vh;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: white;
    line-height: normal;
}

header{
    height: 100vh !important;
}

.scrollbutton {
    position: absolute;
    bottom: 10vh;
    left: 35vw;
    color: white
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.box-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the section height to the viewport height */
}

.box {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
}

/* Define different background images for each box */
.box:nth-child(1) {
  background-image: url('assets/img/test-01.jpg');
}

.box:nth-child(2) {
  background-image: url('assets/img/test-01.jpg');
}

.box:nth-child(3) {
  background-image: url('assets/img/test-01.jpg');
}

/* Adjust layout for mobile devices */
@media (max-width: 767px) {
  .box-section {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  .box {
    margin-bottom: 20px;
  }
}
